<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.juyou.calendar">
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 更新app的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- iBeancon 功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".mine.FeedbackActivity"></activity>
        <activity android:name=".fragment.mine.SettingActivity" />
        <activity android:name=".fragment.mine.OneClickLoginActivity" />
        <activity android:name=".weather.WeatherActivity" />
        <activity android:name=".weather.ManageCityActivity" />
        <activity android:name=".weather.AddCityActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity.SplashActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".mine.newlogin.VerCodeLoginActivity" />
        <activity android:name=".mine.newlogin.RegisteredActivity" />
        <activity android:name=".mine.newlogin.NewLoginActivity" />
        <activity android:name=".activity.WelActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyMainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mine.about.AboutActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" /> <!-- <activity -->
        <!-- android:name="com.king.zxing.CaptureActivity" -->
        <!-- android:screenOrientation="fullSensor" -->
        <!-- android:theme="@style/CaptureTheme" /> -->
        <service android:name=".upapp.UpdateService" />

        <activity android:name=".activity.WebViewActivity" /> <!-- 高德 -->
        <!-- 设置key 已换上自己的 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="25d17d3cc90c5dad2299ba0c310e9b8d" />

        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name=".weather.LocationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_FINE_LOCATION" />

        <receiver
            android:name=".util.NetBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- 百度广告页的配置 -->
        <activity
            android:name="com.baidu.mobads.sdk.api.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" /> <!-- 步骤3. 在AndroidManifest.xml声明打开显示激励视频/全屏视频的Activity -->
        <!-- 如果使用激励视频/全屏视频功能，需要主动在AndroidManifest.xml里面声明MobRewardVideoActivity -->
        <activity
            android:name="com.baidu.mobads.sdk.api.MobRewardVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 步骤4. 声明BdFileProvider -->
        <!-- 如果应用的targetSdkVersion >= 24，为了让 SDK 能够正常下载、安装 App 类广告，请按照下面的步骤做兼容性处理。 -->
        <!-- (1) 首先在 AndroidManifest.xml 中的 Application 标签中添加 provider 标签 -->
        <!-- 需要注意的是 provider 的 authorities 值为 ${applicationId}对于每一个开发者而言，这个值都是不同的，${applicationId} 在代码中和 Context.getPackageName() 值相等（即build.gradle文件中的applicationId字段），是应用的唯一 id。 -->
        <!-- 例如 Demo 示例工程中的 build.gradle中的applicationId为 "com.baidu.mobads.demo.main"。 -->
        <provider
            android:name="com.baidu.mobads.sdk.api.BdFileProvider"
            android:authorities="${applicationId}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_file_paths" />
        </provider> <!-- qq登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101983859" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="61b80390775e2a5a76d9fa53" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="juyouhudong" />

    </application>

</manifest>